

.window {
	position: fixed;
	width: 400px;
	border-radius: 10px;
	border: none;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.window-content {
	color: #000000;
	font-family: monospace;
	padding: 1rem;
	max-height: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Adjust speed and easing */
}



.window-input {
	display: block;
	font-family: monospace;
	width: calc(100% - 12px);
	background-color: #000;
	color: #fff;
	border: 4px solid #fff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 2px;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	outline: 0;
}

.window-top, .window-top-no-bind {
	cursor: move;
    display: flex;
    flex-direction: row;
	text-align: right;
	height: 2.25rem;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
    background-color: #ddd;
}
.window-top p{
   margin-left: 15rem;
}

.window-top button{
   margin-top: 0.3rem;
   margin-left: 1rem;
}

.window-top-no-bind {
	cursor: inherit;
}

.round {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	margin-right: 6px;
	box-shadow: 1px 1px 2px #000;
}

.green {
	background-color: limegreen;
}

.yellow {
	background-color: yellow;
}

.red {
	cursor: pointer;
	background-color: limegreen;
}

#myWindow {
	z-index: 999;
}

#myWindow2 {
	top: 0;
	left: 500px;
}
